openapi: 3.0.0
info:
  title: Car Workshop Service Categories API
  version: 1.0.0
  description: API for retrieving service categories and services in a car workshop software
servers:
  - url: https://want.vulcano.cloud
paths:
  /servicesCategories/all:
    get:
      summary: Get all service categories
      responses:
        '200':
          description: A list of service categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Indicates if the request was successful
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceCategory'
                example:
                  status: true
                  data:
                    - id: 7
                      code: "TEST2"
                      name: "TEST"
                      abbreviation: "TEST"
                      created: "2023-04-13T01:05:31+00:00"
                      modified: "2023-04-13T01:05:31+00:00"
                      enabled: true
                    - id: 6
                      code: "ABC-004"
                      name: "FAROL"
                      abbreviation: "FRL"
                      created: "2023-01-10T16:36:27+00:00"
                      modified: "2023-01-10T16:36:27+00:00"
                      enabled: true
                    - id: 3
                      code: "LLL-004"
                      name: "LLANTAS"
                      abbreviation: "LTS"
                      created: "2023-01-09T19:02:53+00:00"
                      modified: "2023-01-09T19:02:53+00:00"
                      enabled: true
                    - id: 1
                      code: "MONTAJE"
                      name: "MONTAJE"
                      abbreviation: "ABC"
                      created: "2022-09-16T12:45:29+00:00"
                      modified: "2023-01-09T18:38:14+00:00"
                      enabled: true
        '500':
          description: Internal server error
  /services/getByCategory/{category_id}:
    get:
      summary: Get services by category
      parameters:
        - in: path
          name: category_id
          required: true
          description: The ID of the service category
          schema:
            type: integer
      responses:
        '200':
          description: A list of services matching the category
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: Indicates if the request was successful
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                example:
                  status: true
                  data:
                    - id: 13
                      category_id: 7
                      code: "IT"
                      name: "Inside test"
                      time: 123
                      price: "123.00"
                      created: "2023-06-30T16:39:31+00:00"
                      modified: "2023-06-30T16:39:31+00:00"
                      enabled: true
                    - id: 26
                      category_id: 7
                      code: "IT"
                      name: "Inside test"
                      time: 123
                      price: "123.00"
                      created: "2023-06-30T16:39:31+00:00"
                      modified: "2023-06-30T16:39:31+00:00"
                      enabled: true
        '500':
          description: Internal server error
components:
  schemas:
    ServiceCategory:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the service category
        code:
          type: string
          description: The code of the service category
        name:
          type: string
          description: The name of the service category
        abbreviation:
          type: string
          description: The abbreviation of the service category
        created:
          type: string
          format: date-time
          description: The date and time when the service category was created
        modified:
          type: string
          format: date-time
          description: The date and time when the service category was last modified
        enabled:
          type: boolean
          description: Indicates if the service category is enabled
    Service:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the service
        category_id:
          type: integer
          description: The ID of the service category
        code:
          type: string
          description: The code of the service
        name:
          type: string
          description: The name of the service
        time:
          type: integer
          description: The time required for the service in minutes
        price:
          type: string
          description: The price of the service
        created:
          type: string
          format: date-time
          description: The date and time when the service was created
        modified:
          type: string
          format: date-time
          description: The date and time when the service was last modified
        enabled:
          type: boolean
          description: Indicates if the service is enabled
