---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Car Workshop API"
host: "familygeeks.com"
basePath: "2.0"
schemes:
  - "https"
paths:
  /servicesCategories/all:
    get:
      summary: Get all service categories
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              status:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    code:
                      type: string
                    name:
                      type: string
                    abbreviation:
                      type: string
                    created:
                      type: string
                      format: date-time
                    modified:
                      type: string
                      format: date-time
                    enabled:
                      type: boolean
                  required:
                    - id
                    - code
                    - name
                    - abbreviation
                    - created
                    - modified
                    - enabled
              errors:
                type: null
      tags:
        - name: Services Categories

  /services/getByCategory/{category_id}:
    get:
      summary: Get services by category ID
      parameters:
        - name: category_id
          in: path
          required: true
          type: integer
          description: ID of the service category
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              status:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    category_id:
                      type: integer
                    name:
                      type: string
                    time:
                      type: integer
                    price:
                      type: string
                    created:
                      type: string
                      format: date-time
                    modified:
                      type: string
                      format: date-time
                    enabled:
                      type: boolean
                    services_category:
                      type: object
                      properties:
                        id:
                          type: integer
                        code:
                          type: string
                        name:
                          type: string
                        abbreviation:
                          type: string
                        created:
                          type: string
                          format: date-time
                        modified:
                          type: string
                          format: date-time
                        enabled:
                          type: boolean
                  required:
                    - id
                    - category_id
                    - name
                    - time
                    - price
                    - created
                    - modified
                    - enabled
                    - services_category
              errors:
                type: null
      tags:
        - name: Services

definitions:
  ServicesCategory:
    type: object
    properties:
      id:
        type: integer
      code:
        type: string
      name:
        type: string
      abbreviation:
        type: string
      created:
        type: string
        format: date-time
      modified:
        type: string
        format: date-time
      enabled:
        type: boolean
    required:
      - id
      - code
      - name
      - abbreviation
      - created
      - modified
      - enabled

  Service:
    type: object
    properties:
      id:
        type: integer
      category_id:
        type: integer
      name:
        type: string
      time:
        type: integer
      price:
        type: string
      created:
        type: string
        format: date-time
      modified:
        type: string
        format: date-time
      enabled:
        type: boolean
      services_category:
        type: object
        $ref: '#/definitions/ServicesCategory'
    required:
      - id
      - category_id
      - name
      - time
      - price
      - created
      - modified
      - enabled
      - services_category
