openapi: 3.0.0
info:
  title: Vulcano API
  version: 0.0.1.1
servers:
  - url: https://familygeeks.com
paths:
  /servicesCategories/all:
    get:
      summary: Get all service categories
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: true
                data:
                  - id: 1
                    code: "ENG"
                    name: Engine Services
                    abbreviation: "Eng. Serv."
                    created: "2024-01-16T12:00:00Z"
                    modified: "2024-01-16T14:30:00Z"
                    enabled: true
                errors: null
      tags:
        - Services Categories

  /services/getByCategory/{category_id}:
    get:
      summary: Get services by category ID
      parameters:
        - in: path
          name: category_id
          required: true
          schema:
            type: integer
          description: ID of the service category
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: true
                data:
                  - id: 1
                    category_id: 1
                    name: Oil Change
                    time: 30
                    price: "50.00"
                    created: "2024-01-16T12:00:00Z"
                    modified: "2024-01-16T14:30:00Z"
                    enabled: true
                    services_category:
                      id: 1
                      code: "ENG"
                      name: Engine Services
                      abbreviation: "Eng. Serv."
                      created: "2024-01-16T12:00:00Z"
                      modified: "2024-01-16T14:30:00Z"
                      enabled: true
                errors: null
      tags:
        - Services

components:
  schemas:
    ServicesCategory:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        abbreviation:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        enabled:
          type: boolean
      required:
        - id
        - code
        - name
        - abbreviation
        - created
        - modified
        - enabled

    Service:
      type: object
      properties:
        id:
          type: integer
        category_id:
          type: integer
        name:
          type: string
        time:
          type: integer
        price:
          type: string
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        enabled:
          type: boolean
        services_category:
          $ref: '#/components/schemas/ServicesCategory'
      required:
        - id
        - category_id
        - name
        - time
        - price
        - created
        - modified
        - enabled
        - services_category