openapi: 3.0.0
info:
  title: Car Workshop Service Categories API
  version: 1.0.0
  description: API for retrieving service categories and services in a car workshop software
servers:
  - url: https://want.vulcano.cloud
paths:
  /services/allMin:
    get:
      summary: Get all services
      tags:
        - Services
      operationId: getAllServices
      responses:
        '200':
          description: A list of all services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
                example:
                  - id: 269
                    name: "CAMBIAR ACUMULADOR"
                    category: "AIRE ACONDICIONADO"
                  - id: 271
                    name: "CAMBIAR COMPRESOR"
                    category: "AIRE ACONDICIONADO"
                  - id: 273
                    name: "CAMBIAR CONDENSADOR"
                    category: "AIRE ACONDICIONADO"
                  - id: 818
                    name: "VIDEO ENDOSCOPIA"
                    category: "AUXILIOS, PDI Y EXTRAS"
                  - id: 121
                    name: "CAMBIAR ACEITE DE CAJA AUTOMATICA"
                    category: "CAJA DE CAMBIOS AUTOMÁTICA"
        '500':
          description: Internal server error
components:
  schemas:
    Service:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the service
        name:
          type: string
          description: The name of the service
        category:
          type: string
          description: The category of the service
